---
import styles from "./DownloadLink.css";
import Icon from "@/components/common/Icon/Icon.astro";
export type Props = {
  href: string;
  filename: string;
};

const { href, filename } = Astro.props;
---

<a href={href} download={filename} class={styles.link}>
  <slot />
  <Icon type="download" label="ダウンロード" />
</a>
