---
import Icon from "@/components/common/Icon/Icon.astro";
export type Props = {
  href: string;
  filename: string;
};

const { href, filename } = Astro.props;
---

<a href={href} download={filename} class="download">
  <slot />
  <Icon type="download" label="ダウンロード" />
</a>

<style>
  .download {
    padding-block-end: 2px;
    color: var(--c-blue);
    text-decoration: none;
    border-bottom: 1px solid currentcolor;
  }

  @media (hover: hover) {
    .download:hover {
      box-shadow:
        0 0 0 2px white,
        0 0 0 4px var(--c-blue);
    }
  }

  @media (prefers-color-scheme: dark) {
    .download {
      color: var(--c-blue-light);
    }
  }
</style>
