---
import style from "./PageTitle.css";
export type Props = {
  page?: number;
};

const { page = 1 } = Astro.props;
---

<h1 class={style.title}>
  <slot />
  {page > 1 && <em class={style.page}>{`${page}ページ目`}</em>}
</h1>
