---
import styles from "./Activities.css";
import ActiveCards from "@/components/common/ActiveCards/ActiveCards.astro";
import ButtonLink from "@/components/common/ButtonLink/ButtonLink.astro";
import Heading from "@/components/common/Heading/Heading.astro";
---

<section class={styles.activities}>
  <div>
    <Heading>活動内容</Heading>
  </div>
  <div>
    <ActiveCards />
  </div>
  <p>
    <ButtonLink href="/about">私たちについて</ButtonLink>
  </p>
</section>
