---

---

<div class="alert">
  <p class="alert__title">
    <strong>重要なお知らせ</strong>
  </p>
  <div class="alert__content">
    <slot />
  </div>
</div>

<style>
  .alert {
    display: grid;
    row-gap: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--c-red);
    border-radius: 2px;
  }

  .alert__title {
    font-weight: 700;
    color: var(--c-blue-dark);
  }

  .alert__content :global(> p) {
    max-inline-size: var(--w-prose);
    line-height: 2;
  }

  .alert__content :global(> *:first-child) {
    margin-block-start: 0;
  }

  @media (prefers-color-scheme: dark) {
    .alert {
      border-color: var(--c-red-dark);
    }

    .alert__title {
      color: var(--c-gray);
    }
  }
</style>
