---
import { getImage } from "astro:assets";
import img from "./assets/icon.svg";

export type Props = {
  href: string;
};

const props = Astro.props;

const icon = await getImage({ src: img });
---

<a
  href={props.href}
  class="inline-grid grid-cols-[1fr_auto] items-center gap-x-8 rounded-xl border border-primary-border bg-primary-background px-12 py-8"
>
  <slot />
  <span
    aria-hidden="true"
    role="img"
    style={{
      maskImage: `url(${icon.src})`,
      WebkitMaskImage: `url(${icon.src})`,
    }}
    class="size-[1em] bg-[currentColor] [mask-position:center] [mask-repeat:no-repeat] [mask-size:cover]"
  ></span>
</a>
