---
import DownloadLink from "../../../components/ui/DownloadLink/DownloadLink.astro";
import AreaFilter from "./AreaFilter/AreaFilter.astro";
import CafeList from "./CafeList/CafeList.astro";
import Pagination from "./Pagination/Pagination.astro";
import type { NewtCafe } from "../../../schemas/cafe";

export type Props = {
  isFirstPage: boolean;
  currentPage: number;
  lastPage: number;
  cafes: NewtCafe[];
};

const { isFirstPage, currentPage, lastPage, cafes } = Astro.props;
---

<div
  class="grid grid-cols-[minmax(var(--spacing-20),1fr)_minmax(0,var(--spacing-932))_minmax(var(--spacing-20),1fr)] lg:grid-cols-[minmax(var(--spacing-32),1fr)_minmax(0,var(--spacing-932))_minmax(var(--spacing-32),1fr)]"
>
  <div
    class="border-t-accent [grid-column:1/-1] grid grid-cols-subgrid gap-y-20 border-t-8 py-32 *:[grid-column:2] lg:gap-y-32 lg:py-52"
  >
    <div class="grid gap-y-20">
      <h1 class="grid justify-items-start gap-y-12 font-bold">
        <span class="text-2xl/2xl lg:text-3xl/3xl">尼崎のこども食堂</span>
        {
          !isFirstPage && (
            <span class="bg-secondary-background text-xs/xs rounded-xs px-8 py-4">
              {currentPage}ページ目
            </span>
          )
        }
      </h1>
      <p class="text-sm/sm">掲載許可の取れたこども食堂のみ掲載しています。</p>
    </div>
    <aside
      class="border-secondary-border grid gap-y-12 rounded-xl border p-12 lg:p-20"
    >
      <p class="font-bold">PDF版の資料</p>
      <p>
        <DownloadLink
          href="/media/documents/amakodomoshokudou-map.pdf"
          filename="amakodomoshokudou-map"
        >
          尼崎こども食堂マップ
        </DownloadLink>
      </p>
    </aside>
  </div>
  <div
    class="bg-secondary-background [grid-column:1/-1] grid grid-cols-subgrid gap-y-32 py-32 *:[grid-column:2] lg:gap-y-52 lg:py-52"
  >
    <AreaFilter />
    <CafeList cafes={cafes} />
    {
      lastPage > 1 && (
        <Pagination current={currentPage} total={lastPage} baseUrl="/cafes/" />
      )
    }
  </div>
</div>
