---
import styles from "./SearchCafes.css";
import ButtonLink from "@/components/common/ButtonLink/ButtonLink.astro";
import Heading from "@/components/common/Heading/Heading.astro";
---

<section class={styles.search}>
  <div>
    <Heading>尼崎のこども食堂を探す</Heading>
  </div>
  <div class={styles.descs}>
    <p>尼崎市内のこども食堂は一覧ページから探すことができます。</p>
  </div>
  <p><ButtonLink href="/cafes">尼崎のこども食堂一覧</ButtonLink></p>
</section>
