---
import styles from "./ContactArea.css";
import ClipboardCopy from "@/components/common/ClipboardCopy/ClipboardCopy.astro";
import { summary } from "@/consts/summary";
---

<div class={styles.area}>
  <p class={styles.title}>連絡先のメールアドレス</p>
  <p>{summary.mail.value}</p>
  <div>
    <ClipboardCopy copyText={summary.mail.value}>
      メールアドレスをコピー
    </ClipboardCopy>
  </div>
</div>
