---
export type Props = {
  href: string;
  target?: "_blank";
};

const props = Astro.props;
---

<a
  href={props.href}
  target={props.target}
  class="text-link underline decoration-1 underline-offset-2"
>
  <slot />
  {
    props.target === "_blank" && (
      <svg
        role="img"
        aria-label="外部リンク"
        height="1em"
        viewBox="0 -960 960 960"
        width="1em"
        class="fill-link inline overflow-hidden align-[-2px]"
      >
        <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h279v60H180v600h600v-279h60v279q0 24-18 42t-42 18H180Zm202-219-42-43 398-398H519v-60h321v321h-60v-218L382-339Z" />
      </svg>
    )
  }
</a>
