---
import { getImage } from "astro:assets";
import img from "./assets/icon.svg";

const icon = await getImage({ src: img });
---

<span
  role="img"
  aria-label="次"
  style={{
    maskImage: `url(${icon.src})`,
    WebkitMaskImage: `url(${icon.src})`,
  }}
  class="mx-auto size-20 bg-[currentColor] [mask-size:cover] [mask-position:center] [mask-repeat:no-repeat]"
></span>
