---
export type Props = {
  href: string;
  target?: "_blank";
};

const props = Astro.props;
---

<a
  href={props.href}
  target={props.target}
  class="text-link underline underline-offset-2"
>
  <slot />
</a>
