---
export type Props = {
  title: string;
  step: number;
};

const props = Astro.props;
---

<section class="grid gap-y-20 rounded-xl bg-primary-background p-20 lg:p-32">
  <h3 class="grid justify-items-start gap-y-12">
    <span
      class="inline-block rounded-sm bg-secondary-background text-sm px-8 py-4"
      >手順{props.step}</span
    >
    <span class="text-lg font-bold lg:text-xl">{props.title}</span>
  </h3>
  <div class="prose grid gap-y-20">
    <slot />
  </div>
</section>
