---
import img from "./assets/icon.svg";
import { getImage } from "astro:assets";

export type Props = {
  href: string;
  filename: string;
};

const props = Astro.props;

const icon = await getImage({ src: img });
---

<a
  href={props.href}
  download={props.filename}
  class="inline-grid grid-cols-[1fr,auto] items-center gap-x-8 rounded-xl border border-primary-border text-md px-12 py-8"
>
  <slot />
  <span
    role="img"
    aria-label="をダウンロード"
    style={{
      maskImage: `url(${icon.src})`,
      WebkitMaskImage: `url(${icon.src})`,
    }}
    class="size-[1em] bg-[currentColor] [mask-position:center] [mask-repeat:no-repeat] [mask-size:cover]"
  ></span>
</a>
