---
export type Props = {
  type: "arrow" | "external" | "download" | "copy" | "next" | "menu" | "cancel";
  size?: "sm" | "md" | "lg";
  color?: "current";
  label?: string;
};

const { type, size = "md", color = "current", label = "" } = Astro.props;
---

<span
  role="img"
  aria-hidden={label === "" ? "true" : undefined}
  aria-label={label === "" ? undefined : label}
  class="icon"
  data-size={size}
  data-type={type}
  data-color={color}
>
</span>

<style>
  .icon {
    display: inline-block;
    background-color: currentcolor;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  .icon[data-size="sm"] {
    width: 0.75rem;
    height: 0.75rem;
  }

  .icon[data-size="md"] {
    width: 1rem;
    height: 1rem;
  }

  .icon[data-size="lg"] {
    width: 1.25rem;
    height: 1.25rem;
  }

  .icon[data-color="current"] {
    background-color: currentcolor;
  }

  .icon[data-type="arrow"] {
    mask-image: url("./assets/arrow.svg");
  }

  .icon[data-type="external"] {
    mask-image: url("./assets/external.svg");
  }

  .icon[data-type="download"] {
    mask-image: url("./assets/download.svg");
  }

  .icon[data-type="copy"] {
    mask-image: url("./assets/copy.svg");
  }

  .icon[data-type="next"] {
    mask-image: url("./assets/next.svg");
  }

  .icon[data-type="menu"] {
    mask-image: url("./assets/menu.svg");
  }

  .icon[data-type="cancel"] {
    mask-image: url("./assets/cancel.svg");
  }
</style>
