---
import styles from "./Icon.css";
export type Props = {
  type: "arrow" | "external" | "download" | "copy" | "next" | "menu" | "cancel";
  size?: "sm" | "md" | "lg";
  color?: "current";
  label?: string;
};

const { type, size = "md", color = "current", label = "" } = Astro.props;
---

<span
  role="img"
  aria-hidden={label === "" ? "true" : undefined}
  aria-label={label === "" ? undefined : label}
  class={styles.icon}
  data-size={size}
  data-type={type}
  data-color={color}
>
</span>
