:root {
  /* colors */
  --c-white-rgb: 255, 255, 255;
  --c-white: rgb(var(--c-white-rgb));
  --c-orange-light-rgb: 252, 238, 199;
  --c-orange-light: rgb(var(--c-orange-light-rgb));
  --c-orange-rgb: 255, 204, 103;
  --c-orange: rgb(var(--c-orange-rgb));
  --c-orange-dark-rgb: 96, 72, 21;
  --c-orange-dark: rgb(var(--c-orange-dark-rgb));
  --c-orange-darkest-rgb: 56, 54, 51;
  --c-orange-darkest: rgb(var(--c-orange-darkest-rgb));
  --c-blue-light-rgb: 0, 153, 255;
  --c-blue-light: rgb(var(--c-blue-light-rgb));
  --c-blue-rgb: 6, 91, 169;
  --c-blue: rgb(var(--c-blue-rgb));
  --c-blue-dark-rgb: 28, 49, 68;
  --c-blue-dark: rgb(var(--c-blue-dark-rgb));
  --c-green-rgb: 159, 228, 169;
  --c-green: rgb(var(--c-green-rgb));
  --c-green-dark-rgb: 40, 83, 46;
  --c-green-dark: rgb(var(--c-green-dark-rgb));
  --c-red-rgb: 255, 124, 124;
  --c-red: rgb(var(--c-red-rgb));
  --c-red-dark-rgb: 169, 96, 96;
  --c-red-dark: rgb(var(--c-red-dark-rgb));
  --c-gray-light-rgb: 241, 241, 241;
  --c-gray-light: rgb(var(--c-gray-light-rgb));
  --c-gray-rgb: 232, 232, 232;
  --c-gray: rgb(var(--c-gray-rgb));
  --c-gray-dark-rgb: 209, 209, 209;
  --c-gray-dark: rgb(var(--c-gray-dark-rgb));
  --c-black-light-rgb: 107, 107, 107;
  --c-black-light: rgb(var(--c-black-light-rgb));
  --c-black-rgb: 34, 34, 34;
  --c-black: rgb(var(--c-black-rgb));
  --c-black-dark-rgb: 16, 16, 16;
  --c-black-dark: rgb(var(--c-black-dark-rgb));

  /* font */
  --fz-sm: 0.875rem;
  --fz-md: 1rem;
  --fz-lg: 1.25rem;
  --fz-xl: 1.5rem;
  --fz-2xl: 1.75rem;
  --fz-3xl: 2rem;
  --fz-4xl: 3rem;

  /* line-height */
  --lh-none: 1;
  --lh-tight: 1.25;
  --lh-normal: 1.5;
  --lh-relaxed: 1.75;
  --lh-loose: 2;

  /* width */
  --w-container: 63.5rem;
  --w-prose: 40rem;
  --w-sidebar: 16rem;
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: var(--fz-md);
  line-height: 1.5;
  color: var(--c-blue-dark);
  background-color: var(--c-white);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--c-gray);
    background-color: var(--c-black);
  }
}

*:focus {
  outline: none;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
}

*:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px var(--c-white),
    0 0 0 4px var(--c-blue);
}

@media (prefers-color-scheme: dark) {
  *:focus {
    box-shadow: 0 0 1px 1px rgb(255 255 255 / 20%);
  }

  *:focus-visible {
    box-shadow:
      0 0 0 2px var(--c-black),
      0 0 0 4px var(--c-blue-light);
  }
}

:target {
  scroll-margin-top: 6rem;
}

@media (width >= 64em) {
  :target {
    scroll-margin-top: 1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
