@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #ffcc66;
    --danger: #cc0f0f;
    --link: #0f72cc;
    --primary-background: #ffffff;
    --primary-text: #38352e;
    --primary-border: #c28100;
    --secondary-background: #fff5e0;
    --secondary-border: #d1d1d1;
    --tertiary-background: #efefef;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accent: rgb(96, 72, 21);
      --danger: rgb(169, 96, 96);
      --link: rgb(0, 153, 255);
      --primary-background: rgb(34, 34, 34);
      --primary-text: rgb(232, 232, 232);
      --primary-border: rgb(232, 232, 232);
      --secondary-background: rgb(56, 54, 51);
      --secondary-border: rgb(107, 107, 107);
      --tertiary-background: rgb(16, 16, 16);
    }
  }

  body {
    @apply break-words break-all bg-primary-background font-sans text-primary-text;
  }
}
