*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word;
}

button {
  text-align: left;
}

ul,
ol {
  list-style-position: inside;
}

em {
  font-size: inherit;
  font-style: normal;
}

small {
  font-size: inherit;
}
