---
import Heading from "../../../components/ui/Heading/Heading.astro";
import ToSectionLink from "../../../components/ui/ToSectionLink/ToSectionLink.astro";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div
  class="grid grid-cols-[minmax(var(--spacing-20),1fr)_minmax(0,var(--spacing-932))_minmax(var(--spacing-20),1fr)] lg:grid-cols-[minmax(var(--spacing-32),1fr)_minmax(0,var(--spacing-932))_minmax(var(--spacing-32),1fr)]"
>
  <div
    class="border-t-accent [grid-column:1/-1] grid grid-cols-subgrid gap-y-20 border-t-8 py-32 *:[grid-column:2] lg:gap-y-32 lg:py-52"
  >
    <h1 class="text-2xl/2xl lg:text-3xl/3xl font-bold">{title}</h1>
    <p class="text-md/loose max-w-640">
      尼崎こども食堂ネットワーク（以下、「当ネットワーク」という。）は、以下の方針に基づき、個人情報の保護に努めます。
    </p>
    <ol class="flex flex-wrap gap-x-20 gap-y-12">
      <li>
        <ToSectionLink target="personal">個人情報について</ToSectionLink>
      </li>
      <li>
        <ToSectionLink target="update">改訂について</ToSectionLink>
      </li>
    </ol>
  </div>
  <div
    class="bg-secondary-background [grid-column:1/-1] grid grid-cols-subgrid gap-y-52 py-32 *:[grid-column:2] lg:gap-y-84 lg:py-52"
  >
    <section class="prose grid gap-y-20">
      <Heading id="personal">個人情報について</Heading>
      <p>
        当ネットワークは、収集した個人情報（名前、メールアドレス）を次の目的の範囲内で利用します。
      </p>
      <ul>
        <li>お問い合わせ内容に関する返答</li>
        <li>当ネットワークからの事業案内</li>
      </ul>
      <p>
        また、ここに定めのない目的で、個人情報を取得、保有、管理又は利用する場合には、その情報を取得する際に、あらかじめその目的を明示します。
      </p>
      <p>
        当ネットワークは、関係法令等を遵守し、実施するあらゆる事業において、個人情報を慎重に取り扱います。
      </p>
      <p>当ネットワークは、個人情報を適法かつ適正な方法で取得します。</p>
      <p>
        当ネットワークは、個人情報の利用目的をできる限り特定するとともに、その利用目的の範囲内でのみ個人情報を利用します。
      </p>
      <p>
        当ネットワークは、あらかじめ明示した範囲および法令等の規定に基づく場合を除いて、個人情報を事前に本人の同意を得ることなく外部に提供しません。
      </p>
      <p>
        当ネットワークは、個人情報を正確な状態に保つとともに、漏洩、滅失、毀損などを防止するため、適切な措置を講じます。
      </p>
      <p>
        当ネットワークは、本人が自己の個人情報について、開示・訂正・追加・削除・利用停止を求める権利を有していることを確認し、これらの申し出があった場合は速やかに対応します。
      </p>
      <p>
        当ネットワークは、個人情報の取り扱いに関する苦情があったときは、適切かつ速やかに対応します。
      </p>
      <p>
        当ネットワークは、個人情報を保護するために適切な管理体制を講じるとともに、スタッフの個人情報保護に関する意識啓発に努めます。
      </p>
    </section>
    <section class="prose grid gap-y-20">
      <Heading id="update">プライバシーポリシーの改訂について</Heading>
      <p>
        当ネットワークでは、個人情報の保護を図るため、又は法令等の変更に対応するため、プライバシーポリシーを改定する場合があります。
      </p>
      <p>改定があった場合は、ホームページにおいてお知らせします。</p>
    </section>
  </div>
</div>
