---
const histories = [
  {
    data: {
      title: "2017年9月",
      datatime: "2017-09",
    },
    content:
      "「子どもたちが健やかに育つ地域づくり」をめざして活動する「認定ＮＰＯ法人子どものみらい尼崎」が、市内のこども食堂に関する実態調査（食を通じた子どもと地域のエンパワメント事業「あまがさき子どもの居場所」調査）を行い、多様な食堂運営の現状と基礎情報を収集、発信する。",
  },
  {
    data: {
      title: "2017年12月",
      datatime: "2017-12",
    },
    content:
      "市民活動団体が主催した「子ども食堂と共生の街づくり「子ども食堂」の今in尼崎」で、各食堂から運営の課題やこどもたちの現状について発信が行われ、大きな注目を得る。",
  },
  {
    data: {
      title: "2018年6月",
      datatime: "2018-06",
    },
    content:
      "子どものみらい尼崎とともに「NPO法人スマイルひろば」と、市役所こども政策課の共催で、こどもの人権の視点を学ぶ第1回こども食堂スタッフ向け研修が初めて開催される。",
  },
  {
    data: {
      title: "2018年12月",
      datatime: "2018-12",
    },
    content:
      "食品衛生と個人情報保護に関する学習、スタッフ同士の交流を目的とした第2回こども食堂スタッフ向け研修が開催される。",
  },
  {
    data: {
      title: "2019年4月",
      datatime: "2019-04",
    },
    content:
      "急速に広がる市内の「こども食堂（地域食堂含む）」の活動を地域福祉の基盤として絶やさず、支え合いながら続けていけるよう、こども食堂の中間支援事業をゆるやかに実施する体制づくりとして、子どものみらい尼崎、スマイルひろばに加え、地域福祉の中核を担う「社会福祉法人尼崎市社会福祉協議会」で、「尼崎こども食堂ネットワーク」を立ち上げる。",
  },
] as const;
---

<div>
  {
    histories.map((history) => (
      <section class="border-primary-border ml-12 grid gap-y-8 border-l border-dashed pb-20 pl-12 last:pb-0">
        <h3 class="font-bold [grid-area:1/1]">
          <time datetime={history.data.datatime}>{history.data.title}</time>
        </h3>
        <span class="border-primary-border bg-secondary-background mt-8 ml-[calc(-1*(var(--spacing-12))-1*(var(--spacing-12))/2-1px)] inline-block size-12 rounded-full border [grid-area:1/1]" />
        <p class="text-md/loose max-w-640">{history.content}</p>
      </section>
    ))
  }
</div>
