---
import { Image } from "astro:assets";
import img from "./assets/key.jpg";
---

<section class="key">
  <div class="key__body">
    <h1 class="key__title">
      <span>尼崎</span><span>こども食堂</span><span>ネットワーク</span>
    </h1>
    <p class="key__desc">
      私たちは尼崎市内のこども食堂が、これからもアマのこどもたちにとっての「身近な地域の居場所」
      であり続けられるように活動しています。
    </p>
  </div>
  <figure class="key__image">
    <Image
      src={img}
      alt="写真：尼崎こども食堂ネットワークの研修会の様子"
      format="webp"
    />
  </figure>
</section>

<style>
  .key {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
    gap: 1rem;
    align-items: center;
  }

  .key__body {
    display: grid;
    gap: 1rem;
  }

  .key__title {
    font-size: var(--fz-3xl);
    font-weight: 700;
    line-height: 1.25;
  }

  .key__title > span {
    display: inline-block;
  }

  .key__desc {
    line-height: 1.75;
  }

  .key__image > img {
    border-radius: 8px;
  }

  @media (width >= 64em) {
    .key {
      gap: 2rem;
    }

    .key__title {
      font-size: var(--fz-4xl);
    }
  }
</style>
