---
import CopyButton from "../../components/CopyButton/CopyButton.astro";
import DownloadLink from "../../components/DownloadLink/DownloadLink.astro";
import FlowItem from "../../components/FlowItem/FlowItem.astro";
import Heading from "../../components/Heading/Heading.astro";
import NextStep from "../../components/NextStep/NextStep.astro";
import TextLink from "../../components/TextLink/TextLink.astro";
import ToSectionLink from "../../components/ToSectionLink/ToSectionLink.astro";
import { summary } from "../../consts/summary";
import type { BreadcrumbItems } from "../../layouts/Breadcrumb/type";
import Document from "../../layouts/Document.astro";
import Layout from "../../layouts/Layout.astro";

const breadcrumb: BreadcrumbItems = [
  {
    title: "トップページ",
    href: "/",
  },
  {
    title: "こども食堂の立ち上げ",
  },
];
---

<Document
  title="こども食堂の立ち上げ"
  desc="尼崎市でこども食堂を立ち上げる際の手順について解説しています。"
>
  <Layout breadcrumb={breadcrumb}>
    <div
      class="grid grid-cols-[minmax(theme(spacing[20]),1fr)_minmax(0,theme(spacing[932]))_minmax(theme(spacing[20]),1fr)] lg:grid-cols-[minmax(theme(spacing[32]),1fr)_minmax(0,theme(spacing[932]))_minmax(theme(spacing[32]),1fr)]"
    >
      <div
        class="grid grid-cols-subgrid gap-y-20 border-t-8 border-t-accent py-32 [grid-column:1/-1] lg:gap-y-32 lg:py-52 [&>*]:[grid-column:2]"
      >
        <h1 class="text-2xl font-bold lg:text-3xl">こども食堂の立ち上げ</h1>
        <aside
          class="grid gap-y-12 rounded-xl border border-secondary-border p-12 lg:p-20"
        >
          <p class="font-bold">PDF版の資料</p>
          <p>
            <DownloadLink
              href="/media/documents/amakodomoshokudou-leaflet.pdf"
              filename="amakodomoshokudou-leaflet"
            >
              尼崎こども食堂ネットワーク・リーフレット
            </DownloadLink>
          </p>
        </aside>
        <ol class="flex flex-wrap gap-x-20 gap-y-12">
          <li>
            <ToSectionLink target="flow">立ち上げの流れ</ToSectionLink>
          </li>
          <li>
            <ToSectionLink target="mailing-list">
              メーリングリスト
            </ToSectionLink>
          </li>
        </ol>
      </div>
      <div
        class="grid grid-cols-subgrid gap-y-52 bg-secondary-background py-32 [grid-column:1/-1] lg:gap-y-84 lg:py-52 [&>*]:[grid-column:2]"
      >
        <section class="grid gap-y-20">
          <Heading id="flow">立ち上げの流れ</Heading>
          <FlowItem step={1} title="まずは気持ちを整理!">
            <p>
              なぜ活動しようと思ったのか、どんな食堂にしたいのか、気持ちを整理してみましょう。
            </p>
            <p>
              活動を続けていくためにも、仲間は大事です。<br />
              目的や方向性を共有しながら進めていきましょう。
            </p>
          </FlowItem>
          <NextStep />
          <FlowItem step={2} title="社協むすぶグループへ相談">
            <p>
              活動地区の「
              <TextLink
                href="http://amasyakyo.jp/syakyo_index/access/"
                target="_blank"
              >
                むすぶグループ(尼崎市社会福祉協議会の支部)
              </TextLink>
              」に相談しましょう。
            </p>
            <p>
              地域とのつながり作りや、イベント保険の案内、他のこども食堂の見学など、立ち上げるまで、立ち上げてからのお手伝いをしてくれます。
            </p>
          </FlowItem>
          <NextStep />
          <FlowItem step={3} title="他のこども食堂を見学してみよう!">
            <p>
              実際に活動している現場を見学することで、より具体的な計画が立てやすくなります。
            </p>
            <p>
              会食やお弁当配布、フードパントリーなど、実施形態はさまざまです。
              <br />
              自分たちに合った方法を見つけましょう。
            </p>
          </FlowItem>
          <NextStep />
          <FlowItem step={4} title="保健所に相談しよう!">
            <p>
              食品衛生法上の手続きについて、保健所に相談しましょう。
              <br />
              詳細は
              <TextLink
                href="https://www.city.amagasaki.hyogo.jp/sangyo/zigyousya/insyokuten/1025137.html"
                target="_blank"
              >
                尼崎市のホームページ
              </TextLink>
              をご覧ください。
            </p>
          </FlowItem>
          <NextStep />
          <FlowItem step={5} title="まずは1回やってみよう!">
            <p>
              当日のスケジュールや、今後の運営のおおまかな段取りなどが分かり、また、地域のみなさんに活動を知ってもらう機会にもなります。
            </p>
          </FlowItem>
        </section>
        <section class="prose grid gap-y-20">
          <Heading id="mailing-list">
            メーリングリストに登録することができます
          </Heading>
          <p>
            寄付食材や研修会の情報等、活動を続けていくために役立つ情報をお届けします。
          </p>
          <p>
            尼崎こども食堂ネットワーク事務局まで、登録希望のご連絡をお願いします。
          </p>
          <div
            class="grid gap-y-12 rounded-xl border border-secondary-border bg-primary-background p-12 lg:p-20"
          >
            <p class="font-bold">連絡先のメールアドレス</p>
            <p class="text-sm">{summary.mail.value}</p>
            <p>
              <CopyButton copyText={summary.mail.value}>
                メールアドレスをコピー
              </CopyButton>
            </p>
          </div>
        </section>
      </div>
    </div>
  </Layout>
</Document>
