---
export type Props = {
  id?: string;
};

const props = Astro.props;
---

<h2
  id={props.id}
  class="text-xl font-bold underline decoration-accent decoration-8 underline-offset-[-2px] lg:text-2xl"
>
  <slot />
</h2>
