---
import Icon from "@/components/common/Icon/Icon.astro";
export type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a href={href} class="link">
  <span><slot /></span>
  <Icon type="arrow" size="lg" />
</a>

<style>
  .link {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    column-gap: 1em;
    align-items: center;
    padding: 1rem;
    padding-inline-end: 0.75em;
    font-weight: 700;
    color: var(--c-blue-dark);
    text-decoration: none;
    background-color: var(--c-orange-light);
    border: 2px solid var(--c-orange);
    border-radius: 2px;
  }

  @media (prefers-color-scheme: dark) {
    .link {
      color: var(--c-gray);
      background-color: var(--c-orange-darkest);
      border-color: var(--c-orange-dark);
    }
  }
</style>
