---
import styles from "./ButtonLink.css";
import Icon from "@/components/common/Icon/Icon.astro";
export type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a href={href} class={styles.link}>
  <span><slot /></span>
  <Icon type="arrow" size="lg" />
</a>
