---
import styles from "./StartCafe.css";
import ButtonLink from "@/components/common/ButtonLink/ButtonLink.astro";
import Heading from "@/components/common/Heading/Heading.astro";
---

<section class={styles.start}>
  <div>
    <Heading>こども食堂を立ち上げる</Heading>
  </div>
  <div class={styles.descs}>
    <p>
      尼崎市でこども食堂を始めたい場合は、立ち上げの流れを解説したページを参考にしてください。
    </p>
  </div>
  <p>
    <ButtonLink href="/start-cafe">こども食堂の立ち上げ</ButtonLink>
  </p>
</section>
