---
import Icon from "@/components/common/Icon/Icon.astro";
export type Props = {
  href: string;
  isExternal?: boolean;
};

const { href, isExternal = false } = Astro.props;
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class="link"
>
  <slot />
  {isExternal && <Icon type="external" label="外部リンク" />}
</a>

<style>
  .link {
    padding-block-end: 2px;
    color: var(--c-blue);
    text-decoration: none;
    border-bottom: 1px solid currentcolor;
  }

  @media (hover: hover) {
    .link:hover {
      box-shadow:
        0 0 0 2px white,
        0 0 0 4px var(--c-blue);
    }
  }

  @media (prefers-color-scheme: dark) {
    .link {
      color: var(--c-blue-light);
    }
  }
</style>
