---
import { link } from "./TextLink.css";
import Icon from "@/components/common/Icon/Icon.astro";
export type Props = {
  href: string;
  isExternal?: boolean;
};

const { href, isExternal = false } = Astro.props;
---

<a
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class={link}
>
  <slot />
  {isExternal && <Icon type="external" label="外部リンク" />}
</a>
