---
import TextLink from "../../components/ui/TextLink/TextLink.astro";
import type { BreadcrumbItems } from "../../components/ui/Breadcrumb/type";
import Document from "../../components/layout/Document/Document.astro";
import Layout from "../../components/layout/Layout/Layout.astro";

const breadcrumb: BreadcrumbItems = [
  {
    title: "トップページ",
    href: "/",
  },
  {
    title: "指定されたページは見つかりませんでした",
  },
];
---

<Document title="お探しのページは見つかりませんでした">
  <Layout breadcrumb={breadcrumb}>
    <div
      class="grid grid-cols-[minmax(var(--spacing-20),1fr)_minmax(0,var(--spacing-932))_minmax(var(--spacing-20),1fr)] lg:grid-cols-[minmax(var(--spacing-32),1fr)_minmax(0,var(--spacing-932))_minmax(var(--spacing-32),1fr)]"
    >
      <div
        class="border-t-accent [grid-column:1/-1] grid grid-cols-subgrid gap-y-20 border-t-8 py-32 *:[grid-column:2] lg:gap-y-32 lg:py-52"
      >
        <h1 class="text-2xl/2xl lg:text-3xl/3xl font-bold">
          指定されたページは見つかりませんでした
        </h1>
        <div class="prose grid gap-y-20">
          <p>
            指定されたページはすでに削除もしくはURLが変更された可能性があります。
          </p>
          <p>
            大変お手数ですが、URLをご確認の上、再度お試しいただくか、
            <TextLink href="/">トップページ</TextLink>
            からお探しください。
          </p>
        </div>
      </div>
    </div>
  </Layout>
</Document>
