---
import type { BreadcrumbItems } from "@/components/common/Breadcrumb/types";

export type Props = {
  breadcrumb?: BreadcrumbItems;
};

const { breadcrumb } = Astro.props;
---

<div
  class="grid grid-rows-[auto,1fr,auto,auto] h-svh [grid-template-areas:'header'_'main'_'breadcrumb'_'footer'] lg:grid-cols-[theme(spacing[220]),1fr] lg:grid-rows-[1fr,auto,auto] lg:[grid-template-areas:'header_main'_'header_breadcrumb'_'header_footer']"
>
  <header
    class="sticky top-0 border-b border-b-secondary-border bg-primary-background [grid-area:header] lg:static lg:size-full lg:overflow-y-auto lg:border-b-0 lg:border-r lg:border-r-secondary-border"
  >
  </header>
  <main class="[grid-area:main]">
    <slot />
  </main>
  {breadcrumb && <nav class="[grid-area:breadcrumb]" />}
  <footer class="border-t border-t-secondary-border p-20 [grid-area:footer]">
    <div
      class="flex flex-wrap justify-between gap-x-20 gap-y-12 mx-auto max-w-932"
    >
      <p class="text-sm">
        <a href="/privacy-policy" class="">プライバシーポリシー</a>
      </p>
      <p class="text-sm">
        <small>@2024 尼崎こども食堂ネットワーク</small>
      </p>
    </div>
  </footer>
</div>
