---
export type Props = {
  title: string;
  step: number;
};

const props = Astro.props;
---

<section class="bg-primary-background grid gap-y-20 rounded-xl p-20 lg:p-32">
  <h3 class="grid justify-items-start gap-y-12">
    <span
      class="bg-secondary-background text-sm/sm inline-block rounded-xs px-8 py-4"
      >手順{props.step}</span
    >
    <span class="text-lg/lg lg:text-xl/xl font-bold">{props.title}</span>
  </h3>
  <div class="prose grid gap-y-20">
    <slot />
  </div>
</section>
