---
import styles from "./NotFoundPage.css";
import PageTitle from "@/components/common/PageTitle/PageTitle.astro";
---

<div class={styles.page}>
  <div class={styles.header}>
    <div class={styles.title}>
      <PageTitle>お探しのページは見つかりませんでした</PageTitle>
    </div>
    <div class={styles.desc}>
      <p>お探しのページはすでに削除されたか、URLが変更されています。</p>
    </div>
  </div>
</div>
