---

---

<section class="content">
  <slot />
</section>

<style>
  .content {
    display: grid;
    grid-column: 2;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: var(--c-white);
    border-inline-start: 4px solid var(--c-orange);
  }

  .content :global(> *:first-child) {
    margin-block-start: 0;
  }

  .content :global(> h2) {
    padding-block-end: 0.25rem;
    font-size: var(--fz-xl);
    color: var(--c-blue-dark);
    border-block-end: 2px solid var(--c-orange);
  }

  .content :global(> h2 + *:nth-of-type(n)) {
    margin-block-start: 1rem;
  }

  .content :global(> h3) {
    margin-block-start: 3.5rem;
    font-size: var(--fz-lg);
  }

  .content :global(> h3 + *:nth-of-type(n)) {
    margin-block-start: 1rem;
  }

  .content :global(> h4) {
    margin-block-start: 3rem;
    font-size: var(--fz-md);
  }

  .content :global(> h4 + *:nth-of-type(n)) {
    margin-block-start: 1rem;
  }

  .content :global(> p) {
    max-inline-size: var(--w-prose);
    margin-block-start: 1.25rem;
    line-height: 2;
  }

  .content :global(> ul) {
    display: grid;
    row-gap: 0.5rem;
    margin-block-start: 1.5rem;
  }

  .content :global(> ul > li) {
    max-inline-size: var(--w-prose);
  }

  .content :global(> div) {
    margin-block-start: 1.5rem;
  }

  .content :global(.highlight) {
    padding: 1rem;
    background-color: var(--c-gray-light);
    border-radius: 2px;
  }

  .content :global(.highlight > p) {
    max-inline-size: var(--w-prose);
    margin-block-start: 1.25rem;
    line-height: 2;
  }

  .content :global(.highlight > *:first-child) {
    margin-block-start: 0;
  }

  .content :global(.highlight > ul) {
    display: grid;
    row-gap: 0.5rem;
    margin-block-start: 1.5rem;
  }

  .content :global(.highlight > ul > li) {
    max-inline-size: var(--w-prose);
  }

  @media (width >= 64em) {
    .content {
      padding-block: 3rem;
      padding-inline: 2.5rem;
    }

    .content :global(> h2) {
      padding-block-end: 0.5rem;
      font-size: var(--fz-3xl);
    }

    .content :global(> h3) {
      margin-block-start: 4.5rem;
      font-size: var(--fz-xl);
    }

    .content :global(> h4) {
      margin-block-start: 4rem;
      font-size: var(--fz-lg);
    }
  }

  @media (prefers-color-scheme: dark) {
    .content {
      background-color: var(--c-black);
      border-inline-start-color: var(--c-orange-dark);
    }

    .content :global(> h2) {
      color: var(--c-gray);
      border-block-end-color: var(--c-orange-dark);
    }

    .content :global(> .highlight) {
      background-color: var(--c-black-dark);
    }
  }
</style>
