---
import styles from "./Charity.css";
import ButtonLink from "@/components/common/ButtonLink/ButtonLink.astro";
import Heading from "@/components/common/Heading/Heading.astro";
---

<section class={styles.charity}>
  <div>
    <Heading>尼崎のこども食堂を支援する</Heading>
  </div>
  <div class={styles.descs}>
    <p>尼崎市内のこども食堂を支援するには２つの方法があります。</p>
    <p>
      多くの食堂が地域のこどもたちにとっての「身近な地域の居場所」であり続けられるために、応援よろしくお願いします。
    </p>
  </div>
  <ul class={styles.links}>
    <li>
      <ButtonLink href="/charity/#with-items">物品で支援する</ButtonLink>
    </li>
    <li>
      <ButtonLink href="/charity/#with-donations">寄付金で支援する</ButtonLink>
    </li>
  </ul>
</section>
